body, html {
  background: #fff;
  scroll-behavior: smooth;
  color: #525252;
  font-family: Noto-San-Laos, sans-serif;
}

body {
  scrollbar-width: 0px;
}
body::-webkit-scrollbar {
  display: none;
}

.imgFull {
  width: 100%;
  height: auto;
}

.bg-momo {
  background: rgba(255, 76, 0, 0.1098039216);
}

.bg-gray {
  background: #737373;
}

.badge-date-left {
  background: rgba(252, 100, 45, 0.15);
}

.translate-y-0 {
  -webkit-transform: translateY(0) !important;
     -moz-transform: translateY(0) !important;
      -ms-transform: translateY(0) !important;
       -o-transform: translateY(0) !important;
          transform: translateY(0) !important;
}

.opacity-100 {
  opacity: 1 !important;
}

.btn-primary {
  display: inline-block;
  -webkit-border-radius: 0.375rem;
     -moz-border-radius: 0.375rem;
          border-radius: 0.375rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(255 76 0/var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 76 0/var(--tw-bg-opacity));
  padding: 0.5rem 1rem;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  color: rgb(255 255 255/var(--tw-text-opacity));
  --tw-text-opacity: 0.95;
  -webkit-transition-property: all;
  -o-transition-property: all;
  -moz-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
     -moz-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 0.15s;
     -moz-transition-duration: 0.15s;
       -o-transition-duration: 0.15s;
          transition-duration: 0.15s;
}

.btn-primary:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(232 81 17/var(--tw-bg-opacity));
}

.table-responsive,
.webkit-overflow-scroll {
  -webkit-overflow-scrolling: touch;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
}

.table-responsive .table {
  border-collapse: collapse;
  width: 100%;
}

.table-responsive .table td,
.table-responsive .table th {
  min-width: 70px;
}

.sl-item.jsx-e18afbcea943561a {
  position: relative;
}

.sl-item.jsx-e18afbcea943561a:before {
  content: "";
  height: 18px;
  width: 2px;
  background-color: #FF4C00;
  position: absolute;
  left: 0;
  top: 4px;
}

body {
  --grad-rgb-color:255 255 255;
}

.grad.jsx-1428799533 {
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgb(var(--grad-rgb-color)), rgb(var(--grad-rgb-color)));
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0), rgb(var(--grad-rgb-color)), rgb(var(--grad-rgb-color)));
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0), rgb(var(--grad-rgb-color)), rgb(var(--grad-rgb-color)));
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(rgb(var(--grad-rgb-color))), to(rgb(var(--grad-rgb-color))));
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(var(--grad-rgb-color)), rgb(var(--grad-rgb-color)));
  -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
       -o-transform: rotate(0deg);
          transform: rotate(0deg);
}

.grad-left.jsx-1428799533 {
  background: -webkit-linear-gradient(right, rgba(255, 255, 255, 0), rgb(var(--grad-rgb-color)), rgb(var(--grad-rgb-color)));
  background: -moz-linear-gradient(right, rgba(255, 255, 255, 0), rgb(var(--grad-rgb-color)), rgb(var(--grad-rgb-color)));
  background: -o-linear-gradient(right, rgba(255, 255, 255, 0), rgb(var(--grad-rgb-color)), rgb(var(--grad-rgb-color)));
  background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0)), color-stop(rgb(var(--grad-rgb-color))), to(rgb(var(--grad-rgb-color))));
  background: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(var(--grad-rgb-color)), rgb(var(--grad-rgb-color)));
}
.grad-left.jsx-1428799533 svg {
  -webkit-transform: rotate(180deg);
     -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
       -o-transform: rotate(180deg);
          transform: rotate(180deg);
}

.is-active.grad-item {
  position: relative;
  font-weight: 600;
}

.is-active.grad-item:after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0px;
  height: 0;
  border-bottom: 2px;
  border-style: solid;
  left: 0;
  border-color: inherit;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  border-top-right-radius: 3px;
}

.swiper-hero.jsx-974c4914c5fc1860 .swiper-pagination {
  bottom: 40px;
  z-index: 20;
}

.swiper-hero.jsx-974c4914c5fc1860 {
  -webkit-clip-path: url(#my-clip-path);
  clip-path: url(#my-clip-path);
}

@media (max-width: 769px) {
  .swiper-hero.jsx-974c4914c5fc1860 {
    -webkit-clip-path: url(#my-clip-path2);
    clip-path: url(#my-clip-path2);
  }
  .swiper-hero.jsx-974c4914c5fc1860 .swiper-pagination {
    bottom: 20px;
  }
}
.modal {
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.modal[aria-modal=true] {
  opacity: 1;
  pointer-events: visible;
}

.modalFadeUp {
  -webkit-animation-duration: 400ms;
  -moz-animation-duration: 400ms;
  -o-animation-duration: 400ms;
  animation-duration: 400ms;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: modal-fade-up;
  -moz-animation-name: modal-fade-up;
  -o-animation-name: modal-fade-up;
  animation-name: modal-fade-up;
}

.max-h-modal {
  max-height: -webkit-calc(100% - 20px);
  max-height: -moz-calc(100% - 20px);
  max-height: calc(100% - 20px);
}

@-webkit-keyframes modal-fade-up {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-moz-keyframes modal-fade-up {
  from {
    opacity: 0;
    -moz-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-o-keyframes modal-fade-up {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes modal-fade-up {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.modal {
  z-index: 200;
}

.modal-cluster {
  z-index: 10;
}

.modal-header {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.modal-body {
  -webkit-overflow-scrolling: auto;
}

.modal-overlay {
  z-index: 5;
}

.modal-footer {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -moz-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.qrcode__scan__container.jsx-d22f6bd0771ae323 {
  padding: 15px;
  background-color: white;
  width: 280px;
  height: 280px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  margin: 0 auto;
}

.qrcode__image.jsx-d22f6bd0771ae323 {
  width: 100%;
}

.qrcode__image.jsx-d22f6bd0771ae323 img.jsx-d22f6bd0771ae323 {
  width: 100%;
}

.qrcode__scan.jsx-d22f6bd0771ae323 {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  overflow: hidden;
  background-color: white;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.qrcode__border.jsx-d22f6bd0771ae323 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  opacity: 0.9;
  pointer-events: none;
}

.qrcode__gradient.jsx-d22f6bd0771ae323 {
  position: absolute;
  opacity: 0.6;
  width: 98%;
  height: 98%;
  top: 1%;
  left: 1%;
  z-index: 6;
  -webkit-transform: translate3d(0, -110%, 0);
  -moz-transform: translate3d(0, -110%, 0);
  transform: translate3d(0, -110%, 0);
  -webkit-animation: QRCodeScan 3s infinite cubic-bezier(0.45, 0.03, 0.81, 0.63);
  -moz-animation: QRCodeScan 3s infinite cubic-bezier(0.45, 0.03, 0.81, 0.63);
  -o-animation: QRCodeScan 3s infinite cubic-bezier(0.45, 0.03, 0.81, 0.63);
  animation: QRCodeScan 3s infinite cubic-bezier(0.45, 0.03, 0.81, 0.63);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

@-webkit-keyframes QRCodeScan {
  0% {
    -webkit-transform: translate3d(0, -110%, 0);
    transform: translate3d(0, -110%, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 30%, 0);
    transform: translate3d(0, 30%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 30%, 0);
    transform: translate3d(0, 30%, 0);
  }
}
@-moz-keyframes QRCodeScan {
  0% {
    -moz-transform: translate3d(0, -110%, 0);
    transform: translate3d(0, -110%, 0);
  }
  90% {
    -moz-transform: translate3d(0, 30%, 0);
    transform: translate3d(0, 30%, 0);
  }
  100% {
    -moz-transform: translate3d(0, 30%, 0);
    transform: translate3d(0, 30%, 0);
  }
}
@-o-keyframes QRCodeScan {
  0% {
    transform: translate3d(0, -110%, 0);
  }
  90% {
    transform: translate3d(0, 30%, 0);
  }
  100% {
    transform: translate3d(0, 30%, 0);
  }
}
@keyframes QRCodeScan {
  0% {
    -webkit-transform: translate3d(0, -110%, 0);
    -moz-transform: translate3d(0, -110%, 0);
    transform: translate3d(0, -110%, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 30%, 0);
    -moz-transform: translate3d(0, 30%, 0);
    transform: translate3d(0, 30%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 30%, 0);
    -moz-transform: translate3d(0, 30%, 0);
    transform: translate3d(0, 30%, 0);
  }
}
@media (min-width: 1024px) {
  .lg\:top-auto {
    top: auto;
  }
  .lg\:right-auto {
    right: auto;
  }
}
.group:hover .group-hover\:scale-110 {
  --tw-scale-x: 1.1;
  --tw-scale-y: 1.1;
}

.group:hover .group-hover\:scale-105,
.group:hover .group-hover\:scale-110 {
  -webkit-transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
     -moz-transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
      -ms-transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
       -o-transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
          transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group:hover .group-hover\:scale-105 {
  --tw-scale-x: 1.05;
  --tw-scale-y: 1.05;
}

.group:hover .group-hover\:border-gray-300 {
  --tw-border-opacity: 1;
  border-color: rgb(212 212 212/var(--tw-border-opacity));
}

.group:hover .group-hover\:border-orange-500 {
  --tw-border-opacity: 1;
  border-color: rgb(235 47 150/var(--tw-border-opacity));
}

.group:hover .group-hover\:bg-orange-800 {
  --tw-bg-opacity: 1;
  background-color: rgb(165 0 100/var(--tw-bg-opacity));
}

.group:hover .group-hover\:bg-green-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(16 185 129/var(--tw-bg-opacity));
}

.group:hover .group-hover\:bg-orange-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(235 47 150/var(--tw-bg-opacity));
}

.group:hover .group-hover\:bg-opacity-10 {
  --tw-bg-opacity: 0.1;
}

.group:hover .group-hover\:text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255/var(--tw-text-opacity));
}

.group:hover .group-hover\:text-orange-600 {
  --tw-text-opacity: 1;
  color: rgb(255 76 0/var(--tw-text-opacity));
}

.group:hover .group-hover\:text-orange-400 {
  --tw-text-opacity: 1;
  color: rgb(255 133 192/var(--tw-text-opacity));
}

.group:hover .group-hover\:text-orange-500 {
  --tw-text-opacity: 1;
  color: rgb(235 47 150/var(--tw-text-opacity));
}

.group:hover .group-hover\:text-orange-300 {
  --tw-text-opacity: 1;
  color: rgb(255 173 210/var(--tw-text-opacity));
}

.group:hover .group-hover\:text-orange-700 {
  --tw-text-opacity: 1;
  color: rgb(232 81 17/var(--tw-text-opacity));
}

.group:hover .group-hover\:text-momo {
  --tw-text-opacity: 1;
  color: rgb(255 76 0/var(--tw-text-opacity));
}

.group:hover .group-hover\:underline {
  -webkit-text-decoration-line: underline;
  -moz-text-decoration-line: underline;
       text-decoration-line: underline;
}

.group:hover .group-hover\:opacity-70 {
  opacity: 0.7;
}

.group:hover .group-hover\:opacity-100 {
  opacity: 1;
}

.group:hover .group-hover\:shadow-md {
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
    0 2px 4px -2px var(--tw-shadow-color);
  -webkit-box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);
     -moz-box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);
          box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);
}

.group:hover .group-hover\:brightness-110 {
  --tw-brightness: brightness(1.1);
}

.group:hover .group-hover\:brightness-110,
.group:hover .group-hover\:brightness-75 {
  -webkit-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
          filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.group:hover .group-hover\:brightness-75 {
  --tw-brightness: brightness(0.75);
}

.group:focus .group-focus\:border-orange-600 {
  --tw-border-opacity: 1;
  border-color: rgb(255 76 0/var(--tw-border-opacity));
}

.group:focus .group-focus\:text-orange-600 {
  --tw-text-opacity: 1;
  color: rgb(255 76 0/var(--tw-text-opacity));
}

.md\:hover\:text-momo:hover {
  --tw-text-opacity: 1;
  color: rgb(255 76 0/var(--tw-text-opacity));
}

.text-momo {
  --tw-text-opacity: 1;
  color: rgb(255 76 0/var(--tw-text-opacity));
}

.hover\:text-momo:hover,
.hover\:text-orange-600:hover {
  --tw-text-opacity: 1;
  color: rgb(255 76 0/var(--tw-text-opacity));
}

.aspect-w-4 {
  position: relative;
  padding-bottom: -webkit-calc(var(--tw-aspect-h) / var(--tw-aspect-w) * 100%);
  padding-bottom: -moz-calc(var(--tw-aspect-h) / var(--tw-aspect-w) * 100%);
  padding-bottom: calc(var(--tw-aspect-h) / var(--tw-aspect-w) * 100%);
  --tw-aspect-w: 4;
}

.aspect-w-4 > * {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.aspect-h-3 {
  --tw-aspect-h: 3;
}

.aspect-w-16 {
  position: relative;
  padding-bottom: -webkit-calc(var(--tw-aspect-h) / var(--tw-aspect-w) * 100%);
  padding-bottom: -moz-calc(var(--tw-aspect-h) / var(--tw-aspect-w) * 100%);
  padding-bottom: calc(var(--tw-aspect-h) / var(--tw-aspect-w) * 100%);
  --tw-aspect-w: 16;
}

.aspect-w-16 > * {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.aspect-h-9 {
  --tw-aspect-h: 9;
}

.aspect-w-1 {
  position: relative;
  padding-bottom: -webkit-calc(var(--tw-aspect-h) / var(--tw-aspect-w) * 100%);
  padding-bottom: -moz-calc(var(--tw-aspect-h) / var(--tw-aspect-w) * 100%);
  padding-bottom: calc(var(--tw-aspect-h) / var(--tw-aspect-w) * 100%);
  --tw-aspect-w: 1;
}

.aspect-w-1 > * {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.aspect-h-1 {
  --tw-aspect-h: 1;
}

.aspect-w-2 {
  position: relative;
  padding-bottom: -webkit-calc(var(--tw-aspect-h) / var(--tw-aspect-w) * 100%);
  padding-bottom: -moz-calc(var(--tw-aspect-h) / var(--tw-aspect-w) * 100%);
  padding-bottom: calc(var(--tw-aspect-h) / var(--tw-aspect-w) * 100%);
  --tw-aspect-w: 2;
}

.aspect-w-2 > * {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.aspect-h-2 {
  --tw-aspect-h: 2;
}

.aspect-w-15 {
  position: relative;
  padding-bottom: -webkit-calc(var(--tw-aspect-h) / var(--tw-aspect-w) * 100%);
  padding-bottom: -moz-calc(var(--tw-aspect-h) / var(--tw-aspect-w) * 100%);
  padding-bottom: calc(var(--tw-aspect-h) / var(--tw-aspect-w) * 100%);
  --tw-aspect-w: 15;
}

.aspect-w-15 > * {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.aspect-h-8 {
  --tw-aspect-h: 8;
}

.aspect-w-5 {
  position: relative;
  padding-bottom: -webkit-calc(var(--tw-aspect-h) / var(--tw-aspect-w) * 100%);
  padding-bottom: -moz-calc(var(--tw-aspect-h) / var(--tw-aspect-w) * 100%);
  padding-bottom: calc(var(--tw-aspect-h) / var(--tw-aspect-w) * 100%);
  --tw-aspect-w: 5;
}

.aspect-w-5 > * {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.aspect-h-4 {
  --tw-aspect-h: 4;
}

.text-pine-500 {
  --tw-text-opacity: 1;
  color: rgb(50 83 64/var(--tw-text-opacity));
}

.btn-primary-outline {
  display: inline-block;
  -webkit-border-radius: 0.375rem;
     -moz-border-radius: 0.375rem;
          border-radius: 0.375rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(255 76 0/var(--tw-border-opacity));
  padding: 0.5rem 1rem;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  color: rgb(255 76 0/var(--tw-text-opacity));
  --tw-text-opacity: 0.9;
  -webkit-transition-property: all;
  -o-transition-property: all;
  -moz-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
     -moz-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 0.15s;
     -moz-transition-duration: 0.15s;
       -o-transition-duration: 0.15s;
          transition-duration: 0.15s;
}

.font-inter {
  font-family: -apple-system, BlinkMacSystemFont, Inter, sans-serif;
}

table td {
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(212 212 212/var(--tw-border-opacity));
  padding: 0.25rem 0.5rem;
}

@media (min-width: 768px) {
  table td {
    padding: 0.5rem 1rem;
  }
}
.is-hidden {
  display: none !important;
}

.fadeInDown {
  -webkit-animation: fadeInDown 0.12s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
     -moz-animation: fadeInDown 0.12s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
       -o-animation: fadeInDown 0.12s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: fadeInDown 0.12s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-moz-keyframes fadeInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-2rem);
         transform: translateY(-2rem);
  }
  to {
    opacity: 1;
    -moz-transform: translateY(0);
         transform: translateY(0);
  }
}

@-o-keyframes fadeInDown {
  0% {
    opacity: 0;
    -o-transform: translateY(-2rem);
       transform: translateY(-2rem);
  }
  to {
    opacity: 1;
    -o-transform: translateY(0);
       transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2rem);
       -moz-transform: translateY(-2rem);
         -o-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
  }
}
.shadow-level3 {
  --tw-shadow: 0px 0.6px 1.8px rgba(0, 0, 0, .1), 0px 3.2px 7.2px rgba(0, 0, 0, .13);
  -webkit-box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent), var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
     -moz-box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent), var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
          box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent), var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow);
}

main {
  position: relative;
  z-index: 1;
}

.search input {
  background: url("../../assets/img/i_search.png") 95% 50% no-repeat;
}
.search input:focus {
  outline: none;
}

.breadcrumb-top {
  height: 52px;
  background: none;
  padding: 0;
  margin: 0;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.0901960784);
     -moz-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.0901960784);
          box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.0901960784);
}
.breadcrumb-top ol {
  padding: 0 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
@media (max-width: 1024px) {
  .breadcrumb-top ol {
    padding: 0 10px;
  }
}
.breadcrumb-top ol li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}
.breadcrumb-top ol li:first-child:hover svg {
  fill: #FF4C00;
}
.breadcrumb-top ol li:first-child a {
  width: 16px;
  height: 16px;
}
.breadcrumb-top ol li:first-child a:hover {
  color: #FF4C00;
}
.breadcrumb-top ol li:first-child:before {
  display: none;
}
.breadcrumb-top ol li:last-child {
  margin-right: 0;
  width: -webkit-calc(100% - 180px);
  width: -moz-calc(100% - 180px);
  width: calc(100% - 180px);
}
.breadcrumb-top ol li:last-child span {
  display: block;
  width: 100%;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
}
.breadcrumb-top ol a:hover {
  color: #FF4C00;
}
.breadcrumb-top li {
  margin-right: 10px;
}
.breadcrumb-top li:before {
  content: "";
  width: 9px;
  height: 9px;
  display: block;
  margin-right: 5px;
  background-image: url("../../assets/img/arrow-down.svg");
  background-repeat: no-repeat;
  -webkit-transform: rotate(-90deg);
     -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
       -o-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-background-size: 100% 100%;
     -moz-background-size: 100%;
          background-size: 100%;
  -webkit-filter: sepia(1);
          filter: sepia(1);
}

.submenu {
  width: 340px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translate3d(0, 50px, 0);
     -moz-transform: translate3d(0, 50px, 0);
          transform: translate3d(0, 50px, 0);
  visibility: hidden;
  opacity: 0;
  padding-top: 15px;
  z-index: 50;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}
.submenu ul {
  background: #fff;
  -webkit-box-shadow: 0px 0px 2px 0px #e0e0e0;
     -moz-box-shadow: 0px 0px 2px 0px #e0e0e0;
          box-shadow: 0px 0px 2px 0px #e0e0e0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
}
.submenu ul li {
  padding: 10px 5px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}
.submenu ul li:hover {
  background: rgba(255, 76, 0, 0.0901960784);
}
.submenu ul li:hover a {
  color: #FF4C00;
}
@media (max-width: 1023px) {
  .submenu {
    opacity: 0 !important;
    position: relative;
    width: 100%;
    padding-top: 0;
    height: 0;
    overflow: hidden !important;
    -webkit-transform: translate3d(0, -50px, 0) !important;
       -moz-transform: translate3d(0, -50px, 0) !important;
            transform: translate3d(0, -50px, 0) !important;
  }
  .submenu:before, .submenu:after {
    display: none;
  }
  .submenu ul {
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 104%;
    margin-left: -2%;
    background: #f5f5f5;
    padding: 0;
  }
  .submenu ul li {
    width: 48%;
    padding-left: 5%;
    padding-right: 5%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
  .submenu ul li a {
    font-weight: normal;
    font-size: 14px;
  }
}
@media (max-width: 430px) {
  .submenu ul li {
    width: 100%;
  }
}

.submenu:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 16px solid #e0e0e0;
  position: absolute;
  top: 0px;
  left: 34px;
  margin-left: -5px;
  -webkit-transition: opacity 0.2s ease-in;
  -moz-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}

.submenu:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 16px solid #fff;
  position: absolute;
  top: 1px;
  left: 35px;
  margin-left: -5px;
  pointer-events: none;
  -webkit-transition: opacity 0.2s ease-in;
  -moz-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}

.menu > a {
  overflow: hidden;
}
.menu svg {
  -webkit-transform: rotate(0deg) !important;
     -moz-transform: rotate(0deg) !important;
      -ms-transform: rotate(0deg) !important;
       -o-transform: rotate(0deg) !important;
          transform: rotate(0deg) !important;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
.menu:hover > a {
  color: #FF4C00;
}
.menu:hover > .submenu {
  opacity: 1 !important;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  visibility: visible;
}
.menu:hover .icon {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.menu.is-active > a {
  color: #FF4C00;
}
.menu.is-open {
  border-bottom: none !important;
}
@media (max-width: 1023px) {
  .menu.is-open > a {
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.08);
       -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.08);
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.08);
    position: relative;
    z-index: 2;
  }
  .menu.is-open svg {
    -webkit-transform: rotate(180deg) !important;
       -moz-transform: rotate(180deg) !important;
        -ms-transform: rotate(180deg) !important;
         -o-transform: rotate(180deg) !important;
            transform: rotate(180deg) !important;
  }
  .menu.is-open .submenu {
    z-index: 0;
    height: auto;
    overflow: visible !important;
    opacity: 1 !important;
    -webkit-transform: translate3d(0, 0px, 0) !important;
       -moz-transform: translate3d(0, 0px, 0) !important;
            transform: translate3d(0, 0px, 0) !important;
  }
}
.menu:last-child {
  border-bottom: none !important;
}

#btn-toggle-menu {
  display: none;
  width: 19px;
  background: url("../../assets/img/menu-open.svg") center center no-repeat;
  text-indent: -999em;
  -webkit-transition: 1ms;
  -o-transition: 1ms;
  -moz-transition: 1ms;
  transition: 1ms;
  position: fixed;
  top: 23px;
  right: 16px;
  z-index: 42;
  -webkit-background-size: 22px 22px;
     -moz-background-size: 22px;
          background-size: 22px;
}
#btn-toggle-menu.active {
  background: url("../../assets/img/menu-close.svg") center center no-repeat;
}
@media (max-width: 1023px) {
  #btn-toggle-menu {
    display: block;
  }
}

@media (max-width: 1024px) {
  #menu-primary-menu {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1;
    left: 0;
    padding: 0;
    background: #f5f5f5;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: 1s;
    -o-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
    overflow: scroll;
    padding-bottom: 60px;
  }
  #menu-primary-menu > ul {
    background: #fff;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #menu-primary-menu > ul li {
    border-bottom: thin solid #e5e7eb;
  }
  #menu-primary-menu.active {
    top: 69px;
    opacity: 1;
    pointer-events: visible;
    border-top: thin solid #e5e7eb;
  }
}

.banner {
  position: relative;
  overflow: hidden;
  aspect-ratio: 5/6;
}
@media (min-width: 640px) {
  .banner {
    aspect-ratio: 96/37;
  }
}

div[role=tablist] {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}
div[role=tablist] button {
  font-size: 16px;
  font-weight: 600;
  padding: 5px 10px;
  margin-right: 20px;
  position: relative;
}
div[role=tablist] button:last-child {
  margin-right: 0;
}
div[role=tablist] button:after {
  content: "";
  height: 2px;
  width: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  bottom: 0;
  left: 0;
}
div[role=tablist] button[aria-selected=true] {
  color: #FF4C00;
}
div[role=tablist] button[aria-selected=true]:after {
  width: 100%;
  background: #FF4C00;
}

div[role=tabs] a {
  border-bottom: 2px solid transparent;
}
div[role=tabs] a:hover {
  border-bottom: 2px solid #a3a3a3;
}
div[role=tabs] a.is-active, div[role=tabs] a.active {
  border-bottom: 2px solid #404040;
  color: #404040;
  font-weight: 700;
}

div[role=tabpanel] {
  display: none;
}
div[role=tabpanel][aria-selected=true] {
  display: block;
}

.donation-situation {
  padding: 56px 0;
  background: rgba(238, 64, 25, 0.1215686275);
}

.article-question > div {
  overflow: hidden;
}
.article-question > div button svg {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.article-question > div .soju__prose {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
  height: 0;
  opacity: 0;
}
.article-question > div.open button svg {
  -webkit-transform: rotate(180deg);
     -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
       -o-transform: rotate(180deg);
          transform: rotate(180deg);
}
.article-question > div.open .soju__prose {
  opacity: 1;
  height: auto;
  padding-bottom: 1.25rem;
}

.service-page-long-content .page-content {
  height: auto;
  -webkit-transition: 1s;
  -o-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
  min-height: 160px;
}
.service-page-long-content .page-content:after {
  background: -webkit-gradient(linear, left bottom, left top, from(rgb(255, 255, 255)), to(rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
  background: -moz-linear-gradient(bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(0deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 60px;
  width: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
}
.service-page-long-content .page-content.is-truncated {
  overflow: hidden;
  height: 160px;
  max-height: 160px;
}
.service-page-long-content .page-content.is-truncated:after {
  opacity: 1;
}
.service-page-long-content .cloned-content {
  -webkit-transition: 1s;
  -o-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
}