/* ###################################################################### */
/* PROGRAMMING FUNDAMENTALS COURSE */
/* ###################################################################### */
.course-banner {
    padding: 50px 0px;
    background: #f5f5f5;
}

.course-banner-image {
    min-width: 50%;
    display: none;
}

@media (min-width: 768px) {
    /* .course-banner {
        background-image: url("../../image/banner-graphic-design-course.png") !important;
        background-repeat: no-repeat !important;
        background-position: right !important;
        background-size: cover !important;
        background-size: contain !important;
    }
    .course-banner-content {
        padding-top: 100px;
    } */
    .course-banner-image {
        width: 50%;
        display: none;
    }
}

@media (min-width: 1024px) {
    .course-banner {
        background-size: contain !important;
    }
    .course-banner-content {
        padding-top: 100px;
    }
    .course-banner-image {
        width: 50%;
        display: block;
    }
}

.card-benefit {
    background-color: #545be8;
    min-height: 267px;
    min-width: 267px;
    padding: 40px 16px;
    border-radius: 10px;
    transition: transform 0.5s ease-in-out;
}

.card-benefit .icon {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background-color: #fff;
    color: #f0c932;
    text-align: center;
    line-height: 48px;
    font-size: 20px;
}

.benefit-wrapper {
    display: flex;
    flex-wrap: wrap;
    /* grid-template-columns: repeat(3, minmax(0, 1fr)); */
    gap: 20px;
}
.card-benefit {
    flex: 1;
}
@media (max-width: 900px) {
    .card-benefit:last-child {
        flex: 2;
    }
}
.btn-carousel-benefit {
    border-radius: 50%;
    color: #fff;
}

.row-items {
    display: flex;
    gap: 30px;
    margin: 30px 0px;
    flex-wrap: wrap;
}

.course-card {
    box-shadow: 0px 18.05851173400879px 18.05851173400879px 0px #0000000d;
    border-radius: 10px;
    padding: 5px;
}

.course-info {
    padding: 15px;
}

.course-description {
    position: relative;
    margin-top: 50px;
}

.card-testimonial {
    box-shadow: 0px 20px 20px 0px #0000001a;
    padding: 40px;
    height: 100%;
}

.card-testimonial img {
    margin: 0px 20px 20px 0px;
}
.section-wrapper .course-description {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
}

.section-wrapper .course-description .register-form {
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 20px 20px 0px #0000001a;
}
.section-wrapper .course-description .register-form input,
.section-wrapper .course-description .register-form textarea,
.section-wrapper .course-description .register-form select {
    border: 1px solid #ccc;
}
.section-wrapper .course-description .register-form input:focus,
.section-wrapper .course-description .register-form textarea:focus,
.section-wrapper .course-description .register-form select:focus {
    outline: none;
}
.course-card {
    width: 100%;
}
.course-card .course-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
@media (max-width: 680px) {
    .section-wrapper .course-description {
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        justify-content: center;
    }
    .section-wrapper .course-description .register-form {
        width: 100%;
    }
}

.reveal-left {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 1s, transform 1s;
}

.reveal-left.active {
    opacity: 1;
    transform: translateX(0);
}
.reveal-right {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 1s, transform 1s;
}

.reveal-right.active {
    opacity: 1;
    transform: translateX(0);
}
